@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

h1, h2, .nav_content {
  font-family: "Hannotate SC", "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

p {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 15px;
  font-size: 60px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
}

header {
  background: url(../img/background/background2.png);
  opacity: 0.8;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
}

header .nav_wrapper {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

header .nav_wrapper .logo_area {
  margin-right: auto;
  display: block;
}

header .nav_wrapper .logo_area #main_logo {
  height: 70px;
  width: 70px;
}

header .nav_wrapper ul {
  display: flex;
  list-style: none;
  color: #000;
  height: 70px;
  line-height: 70px;
  margin: 0;
}

header .nav_wrapper ul .nav_content:hover {
  background-color: #ad6103;
  color: ivory;
}

header .nav_wrapper ul .nav_content {
  transition: 0.5s;
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  padding: 0 10px;
}

main {
  padding-top: 70px;
  font-size: 17px;
}

main .welcome_box {
  width: 100vw;
  height: 100vh;
  background-color: #ad6103;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 70px;
  height: calc(100vh - 70px);
  background-image: url("../img/background/autumn.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

main .welcome_box .welcome_contents {
  position: relative;
  width: 600px;
  border-radius: 50%;
  color: #ad6103;
  background-image: url("../img/background/wood.jpg");
}

main .welcome_box .welcome_contents h2 {
  margin-bottom: 40px;
}

main .welcome_box .welcome_contents::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  content: '';
  border: 4px dotted #ad6103;
  border-radius: 50%;
}

main .about_me_box {
  width: 100vw;
  height: 100%;
  background-color: #dda15e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 70px;
}

main .about_me_box .about_me_wrapper {
  width: 70%;
}

main .about_me_box .about_me_wrapper .about_me_contents {
  display: flex;
  justify-content: center;
}

main .about_me_box .about_me_wrapper .about_me_contents #selfile {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 50px;
}

main .about_me_box .about_me_wrapper .about_me_contents p {
  width: 50%;
}

main .works_box {
  width: 100vw;
  height: 100%;
  background-color: #fed7a7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 70px;
}

main .works_box .works_wrapper {
  width: 767px;
}

main .works_box .works_wrapper .works_contents {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main .works_box .works_wrapper .works_contents .work_content {
  margin: 10px 25px;
}

main .works_box .works_wrapper .works_contents .work_content .work_img {
  width: 320px;
  height: 200px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

main .works_box .works_wrapper .works_contents .work_content .work_img:hover {
  width: calc(320px * 1.04);
  height: calc(200px * 1.04);
  opacity: 0.8;
}

main .works_box .works_wrapper .works_contents .work_content .work_title {
  text-align: center;
  font-size: 17px;
  margin-top: 10px;
  font-weight: bold;
}

main .skills_box {
  width: 100vw;
  height: 100%;
  background-color: #d4e6c5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 70px;
}

main .skills_box .skills_wrapper {
  width: 50%;
}

main .skills_box .skills_wrapper img {
  display: block;
  width: 100%;
}

main .profile_box {
  width: 100vw;
  height: 100%;
  background-color: #3e5e26;
  padding: 20px 0 0;
  color: ivory;
}

main .profile_box h2 {
  width: 100%;
  text-align: center;
}

main .profile_box .profile_wrapper {
  overflow-x: scroll;
  height: 100%;
}

main .profile_box .profile_wrapper .profile_contents {
  background-color: #3e5e26;
  display: flex;
  width: 5000px;
  padding: 20px 100px 50px;
}

main .profile_box .profile_wrapper .profile_contents .profile_content {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

main .profile_box .profile_wrapper .profile_contents .profile_content img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 4px solid ivory;
  margin-right: 20px;
  background-color: #b7d0a1;
}

main .profile_box .profile_wrapper .profile_contents .profile_content h4 {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 25px;
}

main .profile_box .profile_wrapper .profile_contents .profile_content:nth-child(1) .profile_discription_wrapper {
  width: 210px;
}

main .profile_box .profile_wrapper .profile_contents .profile_content:nth-child(2) .profile_discription_wrapper {
  width: 350px;
}

main .profile_box .profile_wrapper .profile_contents .profile_content:nth-child(3) .profile_discription_wrapper {
  width: 300px;
}

main .profile_box .profile_wrapper .profile_contents .profile_content:nth-child(4) .profile_discription_wrapper {
  width: 310px;
}

main .profile_box .profile_wrapper .profile_contents .profile_content:nth-child(5) .profile_discription_wrapper {
  width: 360px;
}

main .profile_box .profile_wrapper .profile_contents .profile_content:nth-child(6) .profile_discription_wrapper {
  width: 300px;
}

main .profile_box .profile_wrapper .profile_contents .profile_content:nth-child(7) .profile_discription_wrapper {
  width: 370px;
}

main .profile_box .profile_wrapper .profile_contents .profile_content:nth-child(8) .profile_discription_wrapper {
  width: 300px;
}

main .profile_box .profile_wrapper .age_list {
  display: flex;
  width: 5000px;
  padding: 20px 100px 50px;
  border-top: 7px ivory solid;
}

main .profile_box .profile_wrapper .age_list .age {
  text-align: center;
  display: block;
  width: 250px;
  display: block;
  font-size: 25px;
  font-weight: bold;
}

main .profile_box .profile_wrapper .age:nth-child(1) {
  margin-right: 262px;
}

main .profile_box .profile_wrapper .age:nth-child(2) {
  margin-right: 396px;
}

main .profile_box .profile_wrapper .age:nth-child(3) {
  width: 300px;
  margin-right: 297px;
}

main .profile_box .profile_wrapper .age:nth-child(4) {
  margin-right: 327px;
}

main .profile_box .profile_wrapper .age:nth-child(5) {
  width: 300px;
  margin-right: 336px;
}

main .profile_box .profile_wrapper .age:nth-child(6) {
  margin-right: 340px;
}

main .profile_box .profile_wrapper .age:nth-child(7) {
  margin-right: 419px;
}

main .profile_box .profile_wrapper .age:nth-child(8) {
  margin-right: 300px;
}

.modal_layer {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_layer .modal_content {
  display: flex;
  padding: 10px 20px 50px;
  background-color: #f4f4f4;
  width: 90%;
  height: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
  overflow: auto;
}

.modal_layer .modal_content .modal_close {
  position: absolute;
  right: 10px;
  font-size: 25px;
}

.modal_layer .modal_content .modal_close:hover {
  cursor: pointer;
}

.modal_layer .modal_content .work_discription {
  width: 35%;
}

.modal_layer .modal_content .work_discription h3 {
  display: flex;
  align-items: center;
  margin: 5px;
}

.modal_layer .modal_content .work_discription h3::before, .modal_layer .modal_content .work_discription h3::after {
  content: '';
  flex-grow: 1;
  height: 3px;
  background: #ad6103;
}

.modal_layer .modal_content .work_discription h3::before {
  margin-right: 20px;
}

.modal_layer .modal_content .work_discription h3::after {
  margin-left: 20px;
}

.modal_layer .modal_content .work_discription p {
  overflow-wrap: break-word;
  margin-bottom: 50px;
  font-size: 17px;
}

.modal_layer .modal_content .work_discription .link {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #222;
  margin-bottom: 20px;
  height: 50px;
  font-weight: bold;
}

.modal_layer .modal_content .work_discription .link img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.modal_layer .modal_content .work_discription .link .link_message {
  font-size: 20px;
  line-height: 50px;
}

.modal_layer .modal_content .work_discription .link:hover {
  color: brown;
}

.modal_layer .modal_content .work_images_wrapper {
  width: 65%;
  margin-top: 50px;
}

.modal_layer .modal_content .work_images_wrapper .work_images {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.modal_layer .modal_content .work_images_wrapper .work_images .mini_image {
  width: 90px;
  height: 90px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.modal_layer .modal_content .work_images_wrapper .work_images .mini_image:hover {
  opacity: 0.8;
}

.modal_layer .modal_content .work_images_wrapper .exibit_image #exibit_image {
  width: 95%;
  margin: 0 auto;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  transition-duration: 0.5s;
  transition-property: opacity, transform;
}

.fadeIn_down {
  transform: translate(0, 100px);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

footer {
  background-color: #0a3300;
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: ivory;
}
/*# sourceMappingURL=style.css.map */